<!-- NAVIGATION -->
<div class="container p-4">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <form class="card-body" [formGroup]="usuarioForm" (ngSubmit)="crear()">
          <h3 class="card-title">Adicionar un usuario</h3>
          <label for="nombre">Usuario</label>
          <input type="text" name="nombre" #newtitle class="form-control"  formControlName="nombre" autofocus>

          <label for="email">Email</label>
          <input type="text" name="email" #newlink class="form-control"  formControlName="email">

          <button  class="btn btn-primary btn-block mt-4">
            Guardar Libro
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
