<h1>Registrar Libro</h1>
<h3>Ejemplo validacion de formularios reactivos con directiva</h3>
<form [formGroup]="libroForm" (ngSubmit)="cerar()">
  <div class="row">
    <div class="col-sm-2">
      <label>Id:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="idLibro" name="idLibro" placeholder="Id libro" class="form-control"
        formControlName="id">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Titulo:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="tituloLibro" name="titulo" placeholder="Titulo libro"
        class="form-control" formControlName="titulo">
    </div>
  </div>
</form>
