<!-- NAVIGATION -->
<div class="container p-4">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <form class="card-body" [formGroup]="ventaForm" (ngSubmit)="cerar()">
          <h3 class="card-title">Adicionar un Venta</h3>
          <label for="titulo">Titulo</label>
          <input type="text" name="titulo" #newtitle class="form-control"  formControlName="titulo" autofocus>

          <label for="unidades">Unidades</label>
          <input type="text" name="unidades" #newlink class="form-control"  formControlName="unidades">

          <label for="precio">Precio</label>
          <input type="text" name="precio" #newlink class="form-control"  formControlName="precio">

          <button  class="btn btn-primary btn-block mt-4">
            Guardar Venta
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
