<br>
<div id="ventas" >
  <table class="table"> <!-- Noncompliant -->
    <thead> <tr>
      <th scope="col">IdVenta</th>
      <th scope="col">IdLibro</th>
      <th scope="col">IdUsuario</th>
      <th scope="col">CantidadVenta</th>
      <th scope="col">PrecioVenta</th>
      <th scope="col">DetalleDescuento</th>
      <th scope="col">FechaVenta</th>
    </tr></thead>
    <tbody>
      <tr *ngFor="let item of listaVentas | async">
        <th scope="row">{{item.id}}</th> 
        <td>{{item.idLibro}}</td>
        <td>{{item.idUsuario}}</td>
        <td>{{item.unidadVenta}} </td>
        <td>{{item.precioVenta}}</td>
        <td>{{item.detalleVenta}}</td>
        <td>{{item.fechaVenta}} </td>
      </tr>
     </tbody>
  </table>
</div>
